<div>
    <h2 id="page-heading">
        <span>Vacina Aplicadas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vacina-aplicada" [routerLink]="['/vacina-aplicada/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Vacina Aplicada
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vacinaAplicadas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Aplicacao</span></th>
            <th><span>Doses</span></th>
            <th><span>Observacao</span></th>
            <th><span>Vacina</span></th>
            <th><span>Vacina</span></th>
            <th><span>Vacina</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacinaAplicada of vacinaAplicadas ;trackBy: trackId">
                <td><a [routerLink]="['/vacina-aplicada', vacinaAplicada.id, 'view' ]">{{vacinaAplicada.id}}</a></td>
                <td>{{vacinaAplicada.dataAplicacao | date:'medium'}}</td>
                <td>{{vacinaAplicada.doses}}</td>
                <td>{{vacinaAplicada.observacao}}</td>
                <td>
                    <div *ngIf="vacinaAplicada.vacina">
                        <a [routerLink]="['../vacina', vacinaAplicada.vacina?.id, 'view' ]" >{{vacinaAplicada.vacina?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vacinaAplicada.vacina">
                        <a [routerLink]="['../animal', vacinaAplicada.vacina?.id, 'view' ]" >{{vacinaAplicada.vacina?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vacinaAplicada.vacina">
                        <a [routerLink]="['../veterinario', vacinaAplicada.vacina?.id, 'view' ]" >{{vacinaAplicada.vacina?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vacina-aplicada', vacinaAplicada.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vacina-aplicada', vacinaAplicada.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacina-aplicada/'+ vacinaAplicada.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
