<!--
<md-sidenav-container>
  <md-sidenav #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
    <div class="sidenav-header">
      <a routerLink="/">
        <h5>Hello world!</h5>
      </a>
    </div>
  </md-sidenav>

  <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
    <button type="button" md-button (click)="sidenav.open()">
      Toggle sidenav when display is block
    </button>
  </div>

  <router-outlet></router-outlet>

</md-sidenav-container>
!-->