<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cirurgia-heading">Create or edit a Cirurgia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cirurgia.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cirurgia.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataHora">Data Hora</label>
                    <div class="d-flex">
                        <input id="field_dataHora" type="datetime-local" class="form-control" name="dataHora" [(ngModel)]="dataHora"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomeProcedimento">Nome Procedimento</label>
                    <input type="text" class="form-control" name="nomeProcedimento" id="field_nomeProcedimento"
                        [(ngModel)]="cirurgia.nomeProcedimento" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_observacoes">Observacoes</label>
                    <input type="text" class="form-control" name="observacoes" id="field_observacoes"
                        [(ngModel)]="cirurgia.observacoes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_animal">Animal</label>
                    <select class="form-control" id="field_animal" name="animal" [(ngModel)]="cirurgia.animal" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="animalOption.id === cirurgia.animal?.id ? cirurgia.animal : animalOption" *ngFor="let animalOption of animals; trackBy: trackAnimalById">{{animalOption.nomeProcedimento}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_animal">Animal</label>
                    <select class="form-control" id="field_animal" name="animal" [(ngModel)]="cirurgia.animal" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="veterinarioOption.id === cirurgia.animal?.id ? cirurgia.animal : veterinarioOption" *ngFor="let veterinarioOption of veterinarios; trackBy: trackVeterinarioById">{{veterinarioOption.nomeProcedimento}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
