<div>
    <h2 id="page-heading">
        <span>Veterinarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-veterinario" [routerLink]="['/veterinario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Veterinario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="veterinarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Email</span></th>
            <th><span>Login</span></th>
            <th><span>Nome</span></th>
            <th><span>Senha</span></th>
            <th><span>Numero Registro Cfmv</span></th>
            <th><span>Numero Registro Crmv</span></th>
            <th><span>Endereco</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veterinario of veterinarios ;trackBy: trackId">
                <td><a [routerLink]="['/veterinario', veterinario.id, 'view' ]">{{veterinario.id}}</a></td>
                <td>{{veterinario.email}}</td>
                <td>{{veterinario.login}}</td>
                <td>{{veterinario.nome}}</td>
                <td>{{veterinario.senha}}</td>
                <td>{{veterinario.numeroRegistroCfmv}}</td>
                <td>{{veterinario.numeroRegistroCrmv}}</td>
                <td>
                    <div *ngIf="veterinario.endereco">
                        <a [routerLink]="['../endereco', veterinario.endereco?.id, 'view' ]" >{{veterinario.endereco?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/veterinario', veterinario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/veterinario', veterinario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'veterinario/'+ veterinario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
