<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="veterinario">
            <h2><span>Veterinario</span> {{veterinario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{veterinario.email}}</span>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{veterinario.login}}</span>
                </dd>
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{veterinario.nome}}</span>
                </dd>
                <dt><span>Senha</span></dt>
                <dd>
                    <span>{{veterinario.senha}}</span>
                </dd>
                <dt><span>Numero Registro Cfmv</span></dt>
                <dd>
                    <span>{{veterinario.numeroRegistroCfmv}}</span>
                </dd>
                <dt><span>Numero Registro Crmv</span></dt>
                <dd>
                    <span>{{veterinario.numeroRegistroCrmv}}</span>
                </dd>
                <dt><span>Endereco</span></dt>
                <dd>
                    <div *ngIf="veterinario.endereco">
                        <a [routerLink]="['/endereco', veterinario.endereco?.id, 'view']">{{veterinario.endereco?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/veterinario', veterinario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
