<div>
    <h2 id="page-heading">
        <span>Consultas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consulta" [routerLink]="['/consulta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Consulta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="consultas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Hora</span></th>
            <th><span>Descricao</span></th>
            <th><span>Observacoes</span></th>
            <th><span>Realizada</span></th>
            <th><span>Animal</span></th>
            <th><span>Animal</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consulta of consultas ;trackBy: trackId">
                <td><a [routerLink]="['/consulta', consulta.id, 'view' ]">{{consulta.id}}</a></td>
                <td>{{consulta.dataHora | date:'medium'}}</td>
                <td>{{consulta.descricao}}</td>
                <td>{{consulta.observacoes}}</td>
                <td>{{consulta.realizada}}</td>
                <td>
                    <div *ngIf="consulta.animal">
                        <a [routerLink]="['../animal', consulta.animal?.id, 'view' ]" >{{consulta.animal?.descricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="consulta.animal">
                        <a [routerLink]="['../veterinario', consulta.animal?.id, 'view' ]" >{{consulta.animal?.descricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/consulta', consulta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consulta', consulta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'consulta/'+ consulta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
