<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consulta">
            <h2><span>Consulta</span> {{consulta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data Hora</span></dt>
                <dd>
                    <span>{{consulta.dataHora}}</span>
                </dd>
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{consulta.descricao}}</span>
                </dd>
                <dt><span>Observacoes</span></dt>
                <dd>
                    <span>{{consulta.observacoes}}</span>
                </dd>
                <dt><span>Realizada</span></dt>
                <dd>
                    <span>{{consulta.realizada}}</span>
                </dd>
                <dt><span>Animal</span></dt>
                <dd>
                    <div *ngIf="consulta.animal">
                        <a [routerLink]="['/animal', consulta.animal?.id, 'view']">{{consulta.animal?.descricao}}</a>
                    </div>
                </dd>
                <dt><span>Animal</span></dt>
                <dd>
                    <div *ngIf="consulta.animal">
                        <a [routerLink]="['/veterinario', consulta.animal?.id, 'view']">{{consulta.animal?.descricao}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consulta', consulta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
