<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vacina">
            <h2><span>Vacina</span> {{vacina.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{vacina.nome}}</span>
                </dd>
                <dt><span>Contra Indicacoes</span></dt>
                <dd>
                    <span>{{vacina.contraIndicacoes}}</span>
                </dd>
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{vacina.descricao}}</span>
                </dd>
                <dt><span>Frequencia Mes Aplicacao</span></dt>
                <dd>
                    <span>{{vacina.frequenciaMesAplicacao}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vacina', vacina.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
